/*
    Author: Theresa Barkasy;
    Theme: Restaurant Web Application;
    Version: 1.0;
*/

/* All CSS */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
.rounded {
    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #92AD9F;
    text-decoration: none;
}
a .linktext {
    font-weight: bold;
    letter-spacing: .1rem;
}
a:hover {
    color: #618484;
}
.header {
    width: 100%;
    margin: 0 1% 1% 1%;
    padding: 0 2% 2% 2%;
}
.message {
    width: 100%;
    color: white;
}
.success {
    background: #4FB98C;
    padding: 1rem 0 1rem 0;
}
.error {
    background: #DA9683;
    padding: 1rem 0 1rem 0;
}
/* Form CSS */
.inputContainer {
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 1.75rem;
}
.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}
::placeholder {
    color: transparent;
}
.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: #809b8d;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
.input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #384B41;
  }
.input:focus {
    border: 2px solid #384B41;
}
.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}
/* Table CSS */
.tbl-full {
    width: 100%;
    color: white;
    margin: 1%;
    padding: 2%;
}
.tbl-30 {
    width: 30%;
    color: white;
    margin: 1%;
    padding: 2%;
}
table tr th {
    border-bottom: 1px solid white;
    background: #809b8d;
    padding: 1%;
}
table tr td {
    background: #809b8d;
    padding: 1%;
    text-align: center;
}

/* Button CSS */
.button {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: .1rem;
    color: white;
}
.btn-primary {
    background: #77A5FF;
    padding: 1.5%;
}
.btn-primary:hover{
    color: #e4ebfa;
    background: #628ce0;
}
.btn-secondary {
    background: #4FB98C;
    padding: 1.5%;
}
.btn-secondary:hover{
    color: #ddf8ed;
    background: #43a77d;
}
.btn-danger {
    background: #DA9683;
    padding: 1.5%;
}
.btn-danger:hover{
    color: #f5dcd4;
    background: #c77b65;
}

/* CSS for Menu */
.menu {
    background: #EFFDF5;
    border-bottom: 1px solid #92AD9F;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    font-weight: bolder;
    letter-spacing: .2rem;
}

/* CSS for Main Content */

.main {
    padding: 3% 0;
    background-color: #92AD9F;
    color: white;
    min-height:70%;
}

.col-4 {
    width: 20%;
    background: #809b8d;
    margin: 1%;
    padding: 2%;
}

/* CSS for Login */
.login {
    background: #809b8d;
    width: 30%;
    margin: 5% auto;
}

/* CSS for Footer */

.footer {
    background: #EFFDF5;
    color: #92AD9F;
    border-top: 1px solid #92AD9F;
    padding: 2%;
}