/*
    Author: Theresa Barkasy;
    Theme: Restaurant Web Application;
    Version: 1.0;
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px solid black;
}
