/* 
    Author: Theresa Barkasy;
    Theme: Restaurant Web Application;
    Version: 1.0;

*/
/* All CSS */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.text-right {
    text-align: right;
}
a {
    color: #92AD9F;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
}
a:hover {
    color: #618484;
}
/* Navbar CSS */
.navbar {
    vertical-align: top;
    background: #EFFDF5;
}
.logo {
    width: 50%;
    display: flex;
    float: left;
    padding-bottom: 4%;
    /* vertical-align: top; */
}
.navbar-title {
    padding: 1%;
    color: black;
    font-weight: bolder;
    letter-spacing: .1rem;
}
.navbar-logo {
    padding-right: 1%;
    padding-bottom: 1%;
    width: 25px;
    height: 25px;
    display: flex;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline;
    padding: 1%;
}
/* Search CSS */
.search {
    background-image: url(../images/search-background.png);
    padding: 6% 0;
    background-size: cover;
    background-repeat: no-repeat;
}
/* */

/* Footer CSS */
.footer {
    background: #EFFDF5;
}