/* 
    Author: Theresa Barkasy;
    Theme: Restaurant Web Application;
    Version: 1.0;

*/
/* All CSS */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1%;
}
.section-header {
    color: #384B41;
    font-size: 2rem;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
a {
    color: #92AD9F;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1rem;
}
a:hover {
    color: #618484;
}
.button {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
}
.button-primary {
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
    background-color: #92AD9F;
}
.button-primary:hover {
    background-color: #618484;
}
.button-primary:active {
    background-color: #567777;
}
.button:hover {
    cursor: pointer;
}
.img-responsive {
    width: 100%;
}
/* Navbar CSS */
.navbar {
    vertical-align: center;
    background: #EFFDF5;
}
.logo {
    width: 50%;
    display: flex;
    float: left;
    padding-bottom: 1%;
    /* vertical-align: top; */
}
.navbar-title {
    padding: 1%;
    color: #384B41;
    font-weight: bolder;
    letter-spacing: .1rem;
}
.navbar-logo {
    padding-right: 1%;
    padding-bottom: 1%;
    width: 25px;
    height: 25px;
    display: flex;
}
.nav-menu ul {
    list-style-type: none;
}
.nav-menu ul li {
    display: inline;
    padding: 1%;
}
.row {
    display: flex;
}
/* Search CSS */
.search {
    background-image: url(../images/search-background.png);
    padding: 6% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.search-button {
    border-radius: 0 20px 20px 0;
}
.search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 20px 0 0 20px;
    letter-spacing: .04rem;
}
/* Categories CSS */
.categories {
    padding: 3% 0;
    background-color: #EFFDF5;
}
.catcard {
    /* border: 1px solid #384B41; */
    width: 28%;
    margin: 2%;
    max-height: 353px;
}
.card-title {
    background-color: #92AD9F;
    color: white;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    font-weight: bolder;
    letter-spacing: .1rem;
    text-align: center;
}
.cat-img {
    border-radius: 0 0 20px 20px;
}
img { 
    width: 100%;
    height: auto;
    /* height: 250px; */
    object-fit: cover;
}
/* Menu CSS */
.menucard {
    border: 1px solid #384B41;
}
/* Socials CSS */

/* Footer CSS */
.footer {
    background: #EFFDF5;
}


/* Testing CSS */
section {
    border: 1px solid red;
}