/* 
    Author: Theresa Barkasy;
    Theme: Restaurant Web Application;
    Version: 1.0;

*/
/* All CSS */
* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin-bottom: 1%;
}
@media(max-width:1023px)
{
    h3 {
    font-size: 3vw;
 }
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1%;
}
.section-header {
    color: #384B41;
    font-size: 2rem;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
a {
    color: #92AD9F;
    text-decoration: none;
}
a .linktext {
    font-weight: bold;
    letter-spacing: .1rem;
}
a:hover {
    color: #618484;
}
.button {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
}
.button-primary {
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
    background-color: #92AD9F;
}
.button-primary:hover {
    background-color: #618484;
}
.button-primary:active {
    background-color: #567777;
}
.button:hover {
    cursor: pointer;
}
img { 
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.img-responsive {
    width: 100%;
}
.img-rounded {
    border-radius: 20px;
}
.shadow {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}
.shadow:hover {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.4), 0 0 .75rem rgba(0, 0, 0, 0.4), 0 0 1rem rgba(0, 0, 0, 0.4);
}
/* .container .blur .linkrow:hover{
    filter: none;
} */
.blur:hover .linkrow:not(:hover){
    filter: blur(2px);
    transition: 0.4s ease;
    opacity: 0.85;
}
/* CSS Not In Use, but to be applied to catcard, it's just not working on mobile */
.bigger {
    transition: 0.4s ease;
}
.bigger:hover {
    transform: scale(1.01);
}
/* Navbar CSS */
.navbar {
    vertical-align: center;
    background: #EFFDF5;
}
.logo {
    width: 50%;
    display: flex;
    float: left;
    padding-bottom: 1%;
    /* vertical-align: top; */
}
.navbar-title {
    padding: 1%;
    color: #384B41;
    font-weight: bolder;
    letter-spacing: .1rem;
}
.navbar-logo {
    padding-right: 1%;
    padding-bottom: 1%;
    width: 25px;
    height: 25px;
    display: flex;
}
.nav-menu ul {
    list-style-type: none;
}
.nav-menu ul li {
    display: inline;
    padding: 1%;
}
.row {
    display: flex;
}
/* Search CSS */
.search {
    background-image: url(../images/search-background.png);
    padding: 6% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.search-button {
    border-radius: 0 20px 20px 0;
}
.search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 20px 0 0 20px;
    letter-spacing: .04rem;
}
/* Categories CSS */
.categories {
    padding: 3% 0;
    background-color: #EFFDF5;
}
.linkrow {
    flex: auto;
    margin: 0 1%;
}
/* .linkrow:hover {
    filter: none !important;
    z-index: 10;
} */
.catcard {
    width: 90%;
    margin: 2%;
    /* max-height: 390px; */
    border-radius: 20px 20px 20px 20px;
}
.card-title {
    background-color: #92AD9F;
    color: white;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
    font-weight: bolder;
    letter-spacing: .1rem;
    text-align: center;
}
.cat-img {
    border-radius: 0 0 20px 20px;
    object-fit: cover;
}
/* Menu CSS */
.menu {
    background-color: #92AD9F;
    padding: 3% 0;
}
.menu-header {
    color: white;
}
.menucard {
    /* border: 1px solid #384B41; */
    width: 45%;
    margin: 1%;
    padding: 1.5%;
    background: #EFFDF5;
    border-radius: 20px;
    display: flex;
}
.menu-button {
    padding: 2% 5%;
    border-radius: 10px;
}
.menu-button svg {
    vertical-align: bottom;
} 
.menu-button:hover {
    color: white;
}
.menu-img {
    width: 35%; 
}

.menu-img img {
    object-fit: cover;
}
.menucard-right {
    /* width: 60%; */
    padding-left: 4%;
}
.menu-item {
    letter-spacing: .06rem;
    font-weight: bolder;
}
.menu-price {
    font-size: 1.2rem;
    margin: 2% 0;
}
.menu-description {
    letter-spacing: .02rem;
    padding-bottom: 1%;
}
/* Socials CSS */
.social-media {
    background-image: url(../images/search-background.png);
    padding: 1% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.social-media ul {
    list-style-type: none;
}
.social-media ul li {
    display: inline;
    padding: 1%;
    margin: 0 1%;
    background: #EFFDF5;
    border-radius: 15px;
}
.social-media ul li svg {
    vertical-align: bottom;
}
/* Footer CSS */
.footer {
    background: #EFFDF5;
}
/* CSS for Mobile or Small Screen */
@media only screen and (max-width: 768px) {
    .logo {
        width: 50%;
        float: none;
        margin: 0 auto;
        display: flex;
        text-align: center;
    }
    .nav-menu {
        text-align: center;
    }
    .search input[type="search"]{
        width: 50%;
        padding: 1.8%;
        padding-left: 4%;
        font-size: .75rem;
        border: none;
        border-radius: 20px 0 0 20px;
        /* letter-spacing: .04rem; */
    }
    .categories .container {
        width: 95%;
    }
    h2 {
        font-size: x-large !important;
    }
    .menu .container {
        width: 90%;
    }
    .menucard {
        display: inline;
        text-align: center; 
        padding-bottom: 1rem;
    }
    .menu-img {
        width: 95%;
        margin: .2rem auto;
    }
    .menu-item {
        font-size: large;
        min-height: 4rem;
    }
    .menu-price {
        padding-top: .1rem;
    }
    .menu-description {
        /* font-size: small; */
        display: none;;
    }
    .menu-button {
        padding: 0.5rem 3.5rem;
    }
}
/* Testing CSS */
/* div {
    border: 1px solid red;
}
img {
    border: 1px solid blue;
} */